@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 2rem;
}

div#apresentacao{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #424242;
    border-radius: 1rem;
}

h1#nome{
    font-size: 1.4rem;
    margin: 2rem 0 2rem 0;
    text-align: center;
}

img.imagemPerfil{
    width: 10rem;
    border-radius: 100%;
    margin: 0rem auto 2rem auto;
}

hr{
    width: 80%;
    border: 1px dashed #424242;
    border-radius: 1rem;
    margin: auto;
}

h2.subTitulo{
    font-size: 1.1rem;
    margin: 2vw 0 1rem 12vw;
}

ul{
    margin-bottom: 1.2rem;
    margin-left: 14vw;
    display: flex;
    align-items: center;
    flex-direction: row;
}

li{
    list-style-type: none;
    margin: 0 0.5vw 0 0.5vw;
}

a{
    margin: 0;
    padding: 0;
}

p.sobreMim{
    margin: 0 15vw 1.8rem 15vw;
    text-align: justify;
    text-indent: 2rem;
}

table{
    width: 80%;
    border: 1px solid gray;
    margin: 0.5rem auto 2rem auto;
    border-collapse: collapse;
}

tr,td{
    border: 1px solid gray;
    text-align: center;
    font-size: 0.85rem;
    font-weight: 500;
}

thead tr th{
    border: 1px solid gray;
    text-align: center;
    font-size: 1.05rem;
    font-weight: 650;
    background-color: #e4e4e4;
}

section.frameVideo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe#historiaSenac{
    margin: 1rem 0 1rem 0;
    border-radius: 1rem;
}

address{
    font-size: 0.7rem;
    text-align: center;
    margin: 1rem 0 1rem 0;
}

a#desenvolvedor{
    color: black;
    text-decoration: none;
    pointer-events: none;
}

@media screen and (max-width: 710px){
    ul{
        flex-direction: column;
        margin-left: 0;
    }
    h2.subTitulo{
        margin: 1rem 0 1rem 0rem;
        text-align: center;
    }
}

